/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:102px 0;
  color: var(--themes-main-color);
  font-family: var(--main-font);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: 'wght' var(--wght-normal);
}

.content-section {
  max-inline-size: 696px;
  inline-size: 100%;
}

.header {
  font-family: var(--accent-font);
}

.header__container {
  display: grid;
  grid-template-rows: 1fr min-content;
  place-items: center;
  margin-block-end: 102px;
  border: 2px solid var(--themes-main-color, #000);
  text-transform: uppercase;
  background-color: var(--themes-bg-color);
  block-size: 100%;
}

.header__container-start {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-self: end;
  margin-block-start:8.4em;
}


.header__title {
  font-size: var(--font-size-title);
}

.header__text {
  align-self: center;
  font-size: var(--font-size-text);
}

.header__theme-menu {
  margin:25px 0 22px 20px;
}

.theme-menu__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap:11px;
  font-size: 14px;
}

.theme-menu__item button {
  border: none;

  text-transform: uppercase;
  background: none  ;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

.theme-menu__item button:after {
  content: '';
  display: block;
  width: 0%;
  height: 3px;
  background-color: var(--themes-main-color);
  transition: width 0.3s ease;
}

.theme-menu__item button:hover {
  opacity: 0.6;   
}

.theme-menu__item button:focus {
  outline: none;
  opacity: 0.6; 
}

.theme-menu__item button:focus-visible::after {
  width: 100%;
}

.theme-menu__item button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__item button:disabled::before {
  content: '▶';
  position: absolute;
  left: -5px;
  width: 14px;
  height: 14px;
  transform: translate(-14px);
  animation: theme-focus 0.5s infinite ease-in-out alternate;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap:50px;
  background: var(--themes-bg-color);
}
.card {
  border: 2px solid var(--themes-main-color);
}
.card__title {
  border-block-end: 2px solid var(--themes-main-color);
  padding: 4px 10px 6px 10px;
  font-size: 18px;
  text-align: start;
  font-variation-settings: "wght" var(--wght-bold);
}

.container__img {
  position: relative;
  border-block-end: 2px solid var(--themes-main-color);
  block-size: 696px;
}
.container__img-label {
  position: absolute;
  top:25px;
  right: 25px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--accent-font);
  font-size: 14px;
  text-shadow:-1px 0 var(--themes-bg-color), 0 1px var(--themes-bg-color), 1px 0 var(--themes-bg-color), 0 -1px var(--themes-bg-color);
  mix-blend-mode: hard-light;
}

@supports((text-stroke: 1px var(--themes-bg-color)) or (-webkit-text-stroke: 1px var(--themes-bg-color)))
{
  .container__img-label {
    text-shadow: none;
    text-stroke: 1px var(--themes-bg-color);
    -webkit-text-stroke: 1px var(--themes-bg-color);
  }
}

.card__img {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.card:nth-child(2) .card__img {
  filter: grayscale(80%);
}

.card:nth-child(3) .card__img {
  filter: saturate(200%);
}

.card:nth-child(4) .card__img {
  filter: contrast(500%) brightness(70%);
}

.card:nth-child(5) .card__img {
  filter: hue-rotate(90deg);
}

.card:nth-child(6) .card__img {
  filter: invert(75%);
}

.card:nth-child(7) .card__img {
  filter: blur(5px);
}

.card:nth-child(8) .card__img {
  filter: sepia(100%);
}




.card__text {
  display: flex;
  flex-direction: column;
  border-block-start: 2px solid var(--themes-main-color);
  padding: 20px 25px 25px 25px;
  font-size: 18px;
  font-variation-settings: "wght" var(--wght-normal);
}

.card__text p:not(:last-child) {
  margin-block-end: 27px ;
}

.card__like-form {
  display: flex;
  justify-content: end;
  gap:6px;
}

.card__icon-button {
  height: 38px;
  border: transparent;
  outline: transparent;
  background: transparent;
  transition: outline 0.3s ease;
}

.card__icon-button:focus {
  outline:none;
}

.card__icon-button:focus-visible {
  outline:2px solid var(--themes-main-color);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 52px;
}

.button__content {
  position: relative;
  border: 2px solid var(--themes-main-color);
  font-size: 14px;
  background: transparent;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
}

.button__content:focus {
  box-shadow: 2px 2px 0px 0px var(--themes-main-color);
  outline:none;
}

.button__content:hover .button__text {
  color: var(--themes-main-color);
  mix-blend-mode: difference;
}

.button__content:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--themes-main-color);
  transition: width 0.5s ease-in-out;
}

.button__content:hover:before {
  width:100%;
}

.button__text {
  position: relative;
  z-index: 100;
  font-family: var(--accent-font);
}

.footer__button-save {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 15px 20px;
  background: var(--themes-bg-color);
}

.footer__icon {
  justify-self: center;
  inline-size: 21px;
  block-size: 21px;
}


.dialog__floppy {
  border: 2px solid var(--themes-main-color);
  padding: 32px 42px;
  color: var(--accent-font);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  background-color: var(--themes-bg-color);
  max-inline-size: 357px;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__floppy-title {
  display: flex;
  align-items: center;
  gap:20px;
  line-height: 150%;
}

.dialog__button {
  margin-block-start: 30px;
  padding: 9px 17px;
  text-transform: uppercase;
  inline-size: 100%;
}

.dialog__floppy .footer__icon {
  justify-self: center;
  transform: scale(1.4);
  transform-origin: right bottom;
  inline-size: 28px;
  block-size: 28px;
}



@media (width<=375px) {
  :root {
    --font-size-title:clamp(2.75rem, 0.932rem + 9.091vw, 3.063rem);
  }
  
  .header__container-start {
    margin-block-start:7.4em;
  }

  .container__img {
    max-block-size: 371px;
  }

  .container__img-label {
    right: 11px;
  }

  .footer__icon {
    inline-size: 28px;
    block-size: 28px;
  }

  .footer__button-save{
    flex-direction: column;
  }

  .dialog__floppy {
    max-inline-size: 341px;
  }

}
